#container-div {
  background-color: #303030;
  /*position: absolute;*/
  top: 0;
  left: 0;
  padding-top: 0px;
  width: 700px;
  height: 500px;
}
#example-card {
  background-color: #424242;
  width: 650px;
  height: 100px;
}
.mat-card {
  background-color: #424242;
  width: 650px;
  height: 100px;
  color: white;
}
