<div>

    <mat-form-field appearance="fill">
        <mat-label>Ingredient name</mat-label>
        <input matInput id="ing-name" [(ngModel)]="this.name">
      </mat-form-field>

      <mat-radio-group aria-label="Is alergen" [(ngModel)]="this.isAlergen">
        <mat-radio-button id="isAlergenY" value="1">Yess</mat-radio-button>
        <mat-radio-button id="isAlergenN" value="2">No</mat-radio-button>
      </mat-radio-group>
      <div mat-dialog-actions>
        <button mat-button id="save-ing" (click)="onSaveClick()">Save</button>
        <button mat-button  (click)="close()" cdkFocusInitial>Cancel</button>
      </div>
</div>
