mat-toolbar {
  background: #303030;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  background: #424242;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content:left;
  align-items: flex-start;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.span {
  margin: auto;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2rem;
}

img {
  max-height: 800px;
  max-width: 800px;
  margin-left: 8px;
  margin-bottom: 8px;
}

mat-action-list {
    max-height: 300px;
    overflow: auto;
  }

.custom-scroll-bar::-webkit-scrollbar{
    width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.26);
}

.areaBttn {
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
  width: 60%;
  height: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
}


.boundary {
  height: 95%;
  width: 75%;
  border: dotted;
  margin-top: 1%;
  margin-left: 1%;
}



.claimedTableBttn {
  border-style: solid;
  border-color: hotpink;
}

.unclaimedTableBttn {
  border-style: solid;
  border-color: #424242;
}

.buttonsDiv {
  height: 90%;
  width: 25%;
  margin-top: 5%;
  margin-left: 1%;
  text-align: center;
}