<mat-toolbar class="mat-elevation-z8">
  <span class="span">NOTI</span>
  <div
    fxShow="true"
    fxHide.lt-md="true"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
  </div>
</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8">
      <span class="span">Areas</span>
      <mat-divider></mat-divider>
      <p *ngIf="areas.length === 0; else showAreaButtons">No areas exist!</p>
      <ng-template #showAreaButtons>
        <div *ngFor="let area of areas">
          <button
            mat-button
            class="dugmic-area"
            (click)="openEditTables(area)"
          >
            {{ area.name }}
          </button>
          <button
            mat-button
            color="accent"
            type="submit"
            class="delete-area-button"
            (click)="openDeleteAreaDialog(area.name, area.id)"
          >
          <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
      <mat-divider></mat-divider>
      <button mat-raised-button color="accent" class="toolbarBttn" name="addArea" (click)="openAddAreaDialog()">
        <mat-icon>add</mat-icon>
        <span> Add area</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-raised-button color="accent" class="toolbarBttn" name="return" (click)="return()">
        <mat-icon>keyboard_backspace</mat-icon>
        <span> Return</span>
      </button>
    </mat-sidenav>
  
    <mat-sidenav-content class="sidenavContent">
      <div class="content mat-elevation-z8">
        <div class="boundary" id="boundary">
          <ng-container *ngFor="let table of activeArea.tables">
            <button mat-raised-button cdkDragBoundary=".boundary" id="tableBttn" 
            cdkDrag [cdkDragFreeDragPosition]="tablePositions[activeArea.tables.indexOf(table)]" 
            (cdkDragEnded)="onDragEnded($event, activeArea.tables.indexOf(table))"
            (dblclick)="selectTable(table.id)"
            [class]="selectedTable === table.id ? 'selectedTableBttn' : 'tableBttn'">
            {{table.tableNum}}</button>
          </ng-container>
        </div>
        <div class="buttonsDiv">
          <div>
            <button mat-raised-button color="accent" class="addTableBttn" (click)="addTable()">
              <mat-icon>add</mat-icon>
              <span> Add table</span>
            </button>
          </div>
          
          <div>
            <button mat-raised-button color="accent" class="saveBttn" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
              <span> Save changes</span>
            </button>
          </div>

          <div>
            <button mat-raised-button color="accent" class="deleteBttn" (click)="deleteTable()" [disabled]="selectedTable===-1" >
              <mat-icon>save</mat-icon>
              <span> Delete table</span>
            </button>
          </div>
          
        </div>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  <app-confirm-action
    *ngIf="this.selectedDeleteTable"
    confirmActionTitle="Are you sure you want to delete table?"
    (onConfirmActionCancelled)="onConfirmDeleteTableCancelClicked($event)"
    (onConfirmActionConfirmed)="onConfirmDeleteTableConfirmedClicked($event)"
  ></app-confirm-action>
  <app-confirm-action
  *ngIf="this.selectedDeleteArea"
  [confirmActionTitle]="this.messageDeleteArea"
  (onConfirmActionCancelled)="onConfirmAreaTableCancelClicked($event)"
  (onConfirmActionConfirmed)="onConfirmDeleteAreaConfirmedClicked($event)"
></app-confirm-action>
<app-confirm-action
*ngIf="this.selectedReturn && !this.savedChanges"
confirmActionTitle="You have unsaved changes! Are you sure you want to return?"
(onConfirmActionCancelled)="onConfirmReturnCancelClicked($event)"
(onConfirmActionConfirmed)="onConfirmReturnConfirmedClicked($event)"
></app-confirm-action>
