<div id="container-div">
    <div id="form-holder-div">
      <h2 >{{name}}</h2>
      <div>
        <div id="img-div">
            <img
                src="https://media.giphy.com/media/JrNJ7nwRenWeHLcnzX/giphy.gif"
                alt="”animated”"
                />
            </div>
            <div>
                <mat-label >Container:  {{container}}</mat-label><br/>
                <mat-label >Price:  {{price}}</mat-label><br/>
                <mat-label >Is currently avilable:  {{avilable}}</mat-label><br/>
            </div>
            <div>
                <table><tr><td>prvi sastojak</td><td>alergen</td></tr>
                <tr><td>drugi sastojak</td><td>nije</td></tr></table>
        </div>
        </div>
        
    </div>
  </div> 