<div id="container-div">
    <div id="form-holder-div">
      <h2 id={{drink.name}}>{{drink.name}}</h2>
      <div>
        <ng-container>
            <img
                mat-card-avatar
                [src]="'assets/images/2309358.png'"
                alt="Photo of item"
                style="margin-bottom: 10px"
                />
            </ng-container>
            
            <div>
                <mat-label >Container:  {{drink.containerType}}</mat-label><br/>
                <mat-label >Drink type:  {{drink.drinkType}}</mat-label><br/>
            </div>
            <div>
                <mat-divider></mat-divider>
                <mat-card-subtitle style="margin-top: 30px">Ingredients</mat-card-subtitle>
                <mat-list *ngFor="let ingredient of drink.ingredients">
                <mat-list-item>
                    <img mat-list-icon src="assets/images/4260850.png" />
                    {{ ingredient.name }}
                </mat-list-item>
                </mat-list>
        </div>
        </div>
    </div>
  </div> 