<h2 mat-dialog-title class="title">Add new area</h2>
<mat-dialog-content [formGroup]="addAreaForm" style="white-space: pre-line">
  <!-- name -->
  <mat-form-field id="name" class="input">
    <input
      matInput
      type="text"
      formControlName="name"
      id="name"
      required
      placeholder="Area name"
    />
  </mat-form-field>
</mat-dialog-content> 

<mat-dialog-actions>
  <button
    mat-flat-button
    color="accent"
    type="submit"
    class="submit-button"
    (click)="cancel()"
    id="submit-button"
  >
    Cancel
  </button>
  <button mat-stroked-button color="accent" type="submit" class="submit-button" (click)="saveArea()"
          [disabled]="addAreaForm.invalid" id="submit-button" >
    Save
  </button>
</mat-dialog-actions>
