<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="span">NOTI</span>
  <div
    fxShow="true"
    fxHide.lt-md="true"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  ></div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://media.giphy.com/media/UJvttT1byONauiwlex/giphy.gif"
      alt="”animated”"
      (click)="this.router.navigate([''])"
    />

    <h4 class="name">{{ this.user.username }}</h4>

    <button
      mat-button
      class="menu-button"
      (click)="onPasswordChangeButtonClicked()"
    >
      <mat-icon>settings</mat-icon>
      <span>Change password</span>
    </button>

    <button
      mat-button
      class="menu-button"
      (click)="onLogoutButtonClicked()"
      id="logout-button"
    >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>

    <mat-divider></mat-divider>

    <mat-action-list>
      <mat-list-item (click)="this.activeView = '1'">Item view</mat-list-item>
      <mat-list-item (click)="this.activeView = '2'">Menu</mat-list-item>
      <mat-list-item (click)="this.activeView = '3'">Paychecks</mat-list-item>
      <mat-list-item (click)="this.activeView = '4'">Reports</mat-list-item>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-item-view class="items" *ngIf="this.activeView == '1'"></app-item-view>
      <app-menu-view *ngIf="this.activeView == '2'"></app-menu-view>
      <app-employees class="paychecks" *ngIf="this.activeView == '3'"></app-employees>
      <app-report *ngIf="this.activeView == '4'"></app-report>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-change-password
  *ngIf="this.showModalPasswordChange"
  (onClose)="onPasswordChangeClose()"
></app-change-password>
<app-logout
  *ngIf="this.showModalLogout"
  (onLogoutClose)="onLogoutCloseClicked()"
></app-logout>
