mat-toolbar {
  background: #303030;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  background: #424242;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  align-items: start;
}


.dugmic-back {
  color: black;
  background-color: white;
  margin-right: 30px;
}

.dugmic-search {
  color: black;
  background-color: white;
  margin-left: 10px;
}

.row {
  width: 90%;
}

mat-form-field {
  width: 85%;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.span {
  margin: auto;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2rem;
}

.custom-scroll-bar::-webkit-scrollbar{
    width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.26);
}

