<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="span">NOTI</span>
  <div
    fxShow="true"
    fxHide.lt-md="true"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >

  </div>
</mat-toolbar>

<mat-sidenav-container>

  <!-- lista jela u porudzbini -->
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <span class="span">Order</span>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <!-- dugmici za filtriranje -->
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="row">
        <button mat-fab class="dugmic-back" (click)="onBackClick()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-form-field class="example-container" id="search-field">
          <input matInput placeholder="Search..." #searchInputField [value]="searchInput">
        </mat-form-field>
        <button mat-fab class="dugmic-search" (click)="onSearchClicked(searchInputField.value)">
          <mat-icon>search</mat-icon>
        </button> 

        <div class="buttons">
          <div *ngIf="searchName !== '...'">
            <div *ngIf="menuItems.length !== 0; else noSearchResults ">
              <button mat-button class="dugmic-item" name="menuItem" *ngFor="let item of menuItems">{{item.menuItem.name}}</button>
            </div>
            <ng-template #noSearchResults>
              <p>No search results</p>
            </ng-template>
          </div>
          <div *ngIf="searchName === '...' ">
            <div *ngIf="filterGroup === '...'; else category ">
              <button mat-button class="dugmic-item" (click)="onFilterClick('dish')"><mat-icon> fastfood</mat-icon>  Dishes</button>
              <button mat-button class="dugmic-item" (click)="onFilterClick('drink')"><mat-icon>free_breakfast</mat-icon>  Drinks</button>
            </div>

            <ng-template #category>
              <div *ngIf="groups.includes(filterGroup); else showResults">
                <div *ngIf="filterGroup === 'dish'; else drinks ">
                  <button mat-button class="dugmic-item" *ngFor="let item of dishTypes" (click)="onFilterClick(item)">{{editGroupName(item)}}</button>
                </div>
                <ng-template #drinks>
                  <button mat-button class="dugmic-item" name="menuItem"*ngFor="let item of drinkTypes" (click)="onFilterClick(item)">{{editGroupName(item)}}</button>
                </ng-template>
              </div>
  
              <ng-template #showResults>
                <div *ngIf="menuItems.length !== 0; else noResults ">
                  <button mat-button class="dugmic-item" name="menuItem" *ngFor="let item of menuItems">{{item.menuItem.name}}</button>
                </div>
                <ng-template #noResults>
                  <p>No search results</p>
                </ng-template>
              </ng-template>
            </ng-template>
          </div>
        </div>
       
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
