<h2 mat-dialog-title class="title">Add new employee</h2>
<mat-dialog-content [formGroup]="addEmployeeForm" style="white-space: pre-line">
  <mat-grid-list cols="2" rowHeight="6:1">
    <!-- profilna slika -->
    <mat-grid-tile rowspan="5">
      <div class="img-space">
        <ng-container *ngIf="!isImageChanged; else elseTemplate">
          <img
            style="max-width: 50%; max-height: 50%"
            src="assets/images/profile_default.png"
            class="img-responsive"
            alt="Default image"
          />
        </ng-container>
        <ng-template #elseTemplate>
          <img
          style="max-width: 50%; max-height: 50%"
          [src]="url"
          alt="no images"
          />
        </ng-template>
        <input
          accept=".png, .jpg"
          style="display: none"
          type="file"
          (change)="fileChangeEvent($event)"
          #fileInput
          id="photo"
        />
      </div>
    </mat-grid-tile>
    <!-- username -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <input
          matInput
          type="text"
          formControlName="username"
          id="username"
          required
          placeholder="Username"
        />
      </mat-form-field>
    </mat-grid-tile>
    <!-- password -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <input
          matInput
          type="text"
          formControlName="password"
          id="password"
          required
          placeholder="Password"
        />
      </mat-form-field>
    </mat-grid-tile>
    <!-- name -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <input
          matInput
          type="text"
          formControlName="name"
          id="name"
          required
          placeholder="Name"
        />
      </mat-form-field>
    </mat-grid-tile>
    <!-- surname -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <input
          matInput
          type="text"
          formControlName="surname"
          id="surname"
          required
          placeholder="Surname"
        />
      </mat-form-field>
    </mat-grid-tile>
    <!-- telephone -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <input
          matInput
          type="text"
          formControlName="telephone"
          id="telephone"
          required
          placeholder="Telephone"
        />
      </mat-form-field>
    </mat-grid-tile>
    <!-- dugmici -->
    <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="fileInput.click()" id="addPhotoBttn">
        <mat-icon>add_a_photo</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- role -->
    <mat-grid-tile>
      <mat-form-field class="input">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" id="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-flat-button
    color="accent"
    type="submit"
    class="submit-button"
    (click)="cancel()"
    id="cancel-button"
  >
    Cancel
  </button>
  <button
    mat-stroked-button
    color="accent"
    type="submit"
    class="submit-button"
    (click)="saveEmployee()"
    [disabled]="addEmployeeForm.invalid"
    id="save-button"
  >
    Save
  </button>
</mat-dialog-actions>
