<h2 mat-dialog-title>Enter new employee paycheck:</h2>
<mat-dialog-content
  [formGroup]="editPaycheckForm"
  style="white-space: pre-line"
>
  <mat-form-field id="paycheck">
    <input
      matInput
      type="number"
      min="1"
      step=".5"
      max="999999"
      formControlName="paycheck"
      id="paycheck-input"
      required
      placeholder="Paycheck"
    />

    <mat-dialog-actions>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        class="submit-button"
        (click)="cancel()"
        id="submit-button"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        class="submit-button"
        (click)="save()"
        [disabled]="editPaycheckForm.invalid"
        id="submit-paycheck-button"
      >
        Save
      </button>
    </mat-dialog-actions>
  </mat-form-field>
</mat-dialog-content>
