<mat-card
  *ngIf="this.item"
  style="width: fit-content; margin-left: 10%; margin-top: 10px"
>
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="'assets/images/737967.png'"
      alt="Photo of item"
      style="margin-bottom: 10px"
    />

    <mat-card-title> {{ this.item.menuItem.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-md-image [src]="this.image" alt="Photo of item" />
    <mat-divider></mat-divider>
    <form class="example-form" [formGroup]="priceForm">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input
          matInput
          class="form-control"
          type="number"
          placeholder="Price"
          formControlName="price"
          id="price"
          name="price"
          required
        />
        <input
          matInput
          class="form-control"
          type="number"
          placeholder="Purchase price"
          formControlName="purchasePrice"
          id="purchasePrice"
          name="purchasePrice"
          required
        />
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button"
          (click)="onEditPrice()"
          [disabled]="priceForm.invalid"
          id="submit-button"
        >
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div
      matTooltip="You cannot delete that"
      [matTooltipDisabled]="
        this.item.price <= 0 || this.item.purchasePrice <= 0
      "
    >
      <p>Is on menu:</p>
      <button
        [disabled]="this.item.price <= 0 || this.item.purchasePrice <= 0"
        mat-button
        (click)="onTogleIsActive()"
      >
        <mat-icon>{{
          this.item.active ? "check_box" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
    </div>
    <button mat-button (click)="onDeleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
