<div id="container-div">
  <div id="img-div">
    <img
      src="https://media.giphy.com/media/UJvttT1byONauiwlex/giphy.gif"
      alt="”animated”"
      (click)="this.router.navigate([''])"
    />
  </div>
  <div id="form-holder-div">
    <h3>Switch to other active account</h3>
    <div class="row">
      <mat-icon  matBadgeColor="primary" matBadgePosition="before"
        >information</mat-icon
      >
      <span>If account is not listed then continue to login</span>
      <button mat-flat-button type="button" color="primary" class="btn btn-primary" (click)="login()">Login</button>
    </div>
    <mat-tab-group>
        <mat-tab >
            <ng-template mat-tab-label >
                Waiters </ng-template>
                <mat-action-list class="custom-scroll-bar" *ngFor="let waiter of waiterList.list">
                    <button mat-list-item (click)="changeAccount(waiter.username, 'WAITER_LIST')" 
                    matTooltip="Change account">
                      <mat-icon matBadge="8" matBadgeColor="primary" matBadgePosition="before"
                        >notifications</mat-icon
                      >
                      <span>{{waiter.username}}</span>
                    </button>
                    
                  </mat-action-list>
            </mat-tab>
        <mat-tab > <ng-template mat-tab-label >
            Bartenders </ng-template>
            tab2</mat-tab>
        <mat-tab>
            <ng-template mat-tab-label >
                Chefs </ng-template> tab3</mat-tab>
    </mat-tab-group>
    <button mat-flat-button *ngIf="this.closeButtonShow" type="button" color="accent" class="btn btn-danger" (click)="close()">Close</button>
  </div>
</div>
<div class="jw-modal-background"></div>
