<!-- dugmici za filtriranje -->

  <div class="content mat-elevation-z8">
    <div class="row">
      <button mat-fab class="dugmic-back" id="backBttn" (click)="onBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-form-field class="example-container" id="search-field">
        <input
          matInput
          id="searchInput"
          placeholder="Search..."
          #searchInputField
          [value]="searchInput"
          class="searchInput"
        />
      </mat-form-field>
      <button
        mat-fab
        id="searchBttn"
        class="dugmic-search"
        (click)="onSearchClicked(searchInputField.value)"
        name="searchBttn"
      >
        <mat-icon>search</mat-icon>
      </button>

      <div class="buttons">
        <div *ngIf="searchName !== '...'">
          <div *ngIf="menuItems.length !== 0; else noSearchResults">
            <button
              id="search-result-button"
              mat-button
              class="dugmic-item"
              name="menuItem"
              *ngFor="let item of menuItems"
              name="menuItem"
              (click)="onCustomizeOrderedItemClicked(item.id)"
            >
              {{ item.name }}
            </button>
          </div>
          <ng-template #noSearchResults>
            <p>No search results</p>
          </ng-template>
        </div>
        <div *ngIf="searchName === '...'">
          <div *ngIf="filterGroup === '...'; else category">
            <button
              mat-button
              class="dugmic-item"
              (click)="onFilterClick('dish')"
              id="dishBttn"
              name=dish
            >
              <mat-icon> fastfood</mat-icon> Dishes
            </button>
            <button
              mat-button
              class="dugmic-item"
              (click)="onFilterClick('drink')"
              id="drinkBttn"
              name="drink"
            >
              <mat-icon>free_breakfast</mat-icon> Drinks
            </button>
          </div>

          <ng-template #category>
            <div *ngIf="groups.includes(filterGroup); else showResults">
              <div *ngIf="filterGroup === 'dish'; else drinks">
                <button
                  mat-button
                  class="dugmic-item"
                  *ngFor="let item of dishTypes"
                  (click)="onFilterClick(item)"
                  name="dishType"
                >
                  {{ editGroupName(item) }}
                </button>
              </div>
              <ng-template #drinks>
                <button
                  mat-button
                  class="dugmic-item"
                  name="drinkType"
                  *ngFor="let item of drinkTypes"
                  (click)="onFilterClick(item)"
                >
                  {{ editGroupName(item) }}
                </button>
              </ng-template>
            </div>

            <ng-template #showResults>
              <div *ngIf="menuItems.length !== 0; else noResults">
                <button
                  mat-button
                  class="dugmic-item"
                  name="menuItem"
                  *ngFor="let item of menuItems"
                  (click)="onCustomizeOrderedItemClicked(item.id)"
                >
                  {{ item.name }}
                </button>
              </div>
              <ng-template #noResults>
                <p>No search results</p>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
<app-customize-ordered-item 
*ngIf="this.showModalCustomizeOrderedItem != -1" 
[menuItemId]="this.showModalCustomizeOrderedItem" 
(onCustomizeOrderedItemClose)='onCustomizeOrderedItemCloseClicked($event)' 
(onAddToOrder)='onAddToOrderClicked($event)'></app-customize-ordered-item>
