<div id="container-div" >
    <div id="img-div">
      <img
        src="https://media.giphy.com/media/UJvttT1byONauiwlex/giphy.gif"
        alt="”animated”"
        (click)="this.router.navigate([''])"
      />
    </div>
    <div id="form-holder-div">
      <h3>{{this.title}}</h3>
      <mat-divider></mat-divider>
      <div class="row">
        <mat-icon matBadgeColor="primary" matBadgePosition="before"
          >information</mat-icon
        >
        <span *ngIf="this.table.claimed">Table is claimed</span>
        <span *ngIf="!this.table.claimed">Table is unclaimed</span>
        <div id="button-div" *ngIf="!this.table.claimed">
            <button
              mat-flat-button
              color="accent"
              type="submit"
              class="submit-button"
              (click)="claim()"
              id="submit-button"
              matTooltip="The table will be yours."
            >
              Claim
            </button>
        </div>
        <div id="button-div" *ngIf="this.table.claimed && (this.table.waiterUsername == this.currentUser.username)">
            <button
              mat-flat-button
              color="accent"
              type="submit"
              class="submit-button"
              (click)="unclaim()"
              id="submit-button"
              matTooltip="The table will no longer be yours."
            >
              Unclaim
            </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <mat-icon matBadgeColor="primary" matBadgePosition="before"
          >information</mat-icon
        >
        <span *ngIf="this.table.occupied">Table is occupied</span>
        <span *ngIf="!this.table.occupied">Table is unoccupied</span>
        <div id="button-div" *ngIf="!this.table.occupied && (this.table.waiterUsername == this.currentUser.username)">
            <button
              mat-flat-button
              color="accent"
              type="submit"
              class="submit-button"
              (click)="setOccupied()"
              id="submit-button"
              matTooltip="Guest have occupied the table."
            >
              Set occupied
            </button>
        </div>
        <div id="button-div" *ngIf="this.table.occupied && (this.table.waiterUsername == this.currentUser.username)">
            <button
              mat-flat-button
              color="accent"
              type="submit"
              class="submit-button"
              (click)="setUnoccupied()"
              id="submit-button"
              matTooltip="Guest have left the table."
            >
                Set unoccupied
            </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row" *ngIf="this.table.occupied && this.table.claimed && (this.table.waiterUsername == this.currentUser.username)">
        <span >Active orders</span>
        
        <span>TODO</span>
      </div>
      <mat-divider></mat-divider>
      <div id="button-div" *ngIf="!(this.table.occupied && this.table.claimed && (this.table.waiterUsername == this.currentUser.username))">
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button"
          (click)="close()"
          id="submit-button"
        >
          Close
        </button>
      </div>
      <div class="modal-footer" *ngIf="this.table.occupied && this.table.claimed && (this.table.waiterUsername == this.currentUser.username)">
        <button
          mat-flat-button
          type="button"
          color="accent"
          class="btn btn-danger"
          (click)="close()"
        >
        Close
        </button>
        <button
          mat-flat-button
          type="button"
          color="primary"
          class="btn btn-primary"
          (click)="newOrder()"
        >
          New Order
        </button>
      </div>
    </div>
  </div>
  <div class="jw-modal-background"></div>